/*color combination used
#618685
#80ced6
#d5f4e6
#fefbd8
*/

.header {
    background-color:#80ced6;
    text-align: center;
    padding : 30px;    
}

.nav {
    overflow: hidden;
    background-color: #618685;

}

.nav a{
    
    float: left;
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:hover{
    background-color: #80ced6;
    color:#fefbd8;
}

.edit-update {
    padding: 20px;
    overflow: hidden;
    background-color: white;
    
}

.edit-update a{
    float: left;
    display: block;
    color: black;
    background-color: #d5f4e6;
    text-align: center;
    padding: 14px 16% ;
    text-decoration: none;
}

.edit-update a:hover {
    background-color: #80ced6;
    color: #618685;
}
/*4 parallel columns      34.2% and 21.5% X 3 colmns */

.column {
    float: left;
}

.columnleft {
    width: 34.2%;
    float: left;
}
.columnright{
    width: 21.5%;
    float: left;
    padding: 0px 0px 0px 0.4%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    padding: 5px;
    background-color: #fefbd8;
    margin-top: 10px;
    border-radius: 40px 20px;
}

.cardss {
    padding:  5px;
    background-color: #d5f4e6;
    margin-top: 10px;
    border-radius: 15px;
    
}

.cardss h2{
    text-align: center;
}

.card h2{
    text-align: center;
}

.cardss h4 a{
    float: right;
}