{%  extends "intrn_track/base.html" %}

{% block content %}

<script>
    function link()
    {
        var search=document.getElementById('search').value;
        var mylink="/" + search + "/edit/";
        window.location.href = mylink;

    }
</script>
        <div class="row">
            <div class="columnleft">
                <div class="edit-update">
                    
                    <a href="/">New Card</a>
                    <a href="/edit/">Edit Card</a>
                    
                </div>
                <div class="card">
                    <h2>Edit Card</h2>
                    
                    <h4>Search ID</h4>  
                    <input type="number" name="search" id="search"  />
                    <button type="button" onclick="link()" >Go</button>

                    <br>
                    <hr>
                    
                    <form method="POST" class="post-form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="save btn btn-default">Update</button>
                    </form>
                    
                    
                </div>
            </div>

{% endblock %}