{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<html>
    <head>
        <title>internship tracker</title>
        <!--<link rel="stylesheet" href="{% static 'css/home.css' %}">-->
    </head>
    <body>
        <div class="header">
            <h1>InTerNshIp tRacKeR</h1>
            <p>You are screwed...</p>
        </div>
        <div class="nav">
            <a href="#">Home</a>
            <a href="#">About</a>
        </div>

        <div class="row">

        </div>


        <div class="row">
            <div class="columnleft">
                <div class="card">
                    <h1>TITLE HEADING</h1>
                    <h5>published date: 03/06/2018</h5>
                    <p>text box.. end to input cards</p>
                </div>
            </div>

<!--generating cards for "to_do" list-->
            <div class="columnright">
                <div class="cardss">
                    <h2>TO DO LIST</h2>
                </div>
                <div class="cardss">
                    {%for card in cards%}
                        {%if card.section == 1 %}                
                            <h5>{{card.title}}</h5>
                            <p>{{card.text}}</p>
                            <p>{{card.status}}</p>
                        {%endif%}
                    {%endfor%}
                </div>
            </div>


<!--to generate cards for doing list-->
            <div class="columnright">
                <div class="cardss">
                    <h2>DOING</h2>
                </div>
                <div class="cardss">
                    {%for card in cards%}
                        {%if card.section == 2 %}                
                            <h5>{{card.title}}</h5>
                            <p>{{card.text}}</p>
                            <p>{{card.status}}</p>
                        {%endif%}
                    {%endfor%}
                </div>    
            </div>


<!--to generate cards for done list-->
            <div class="columnright">
                <div class="cardss">
                    <h2>DONE</h2>
                </div>
                <div class="cardss">
                    {%for card in cards%}
                        {%if card.section == 3 %}                
                            <h5>{{card.title}}</h5>
                            <p>{{card.text}}</p>
                            <p>{{card.status}}</p>
                        {%endif%}
                    {%endfor%}
                </div>
            </div>


        </div>

    </body>
</html>