{% load static %}
<link rel="stylesheet" href="{% static 'css/intrn_track.css' %}">

<html>
    <head>
        <title>internship tracker</title>
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    </head>
    <body>
        <div class="header">
            <h1>InTerNshIp tRacKeR</h1>
            <p>You are screwed...</p>
        </div>
        <div class="nav">
            <a href="#">Home</a>
            <a href="#">About</a>
        </div>
        <div class="row">
            <div class="columnleft">
                <p>.
                    .
                    .
                    .
                    .
                    text box
                    end to input cards
                    .
                    .
                    .
                    .
                    .
                    .
                </p>
            </div>

            <div class="card">
                <p>
                    .
                    .
                    .
                    .
                    to do list
                    .
                    .
                    .
                    .
                </p>
            </div>
            <div class="card">
                <p>
                    .
                    .
                    .
                    .
                    .
                    doing
                    .
                    .
                    .
                    .
                </p>
            </div>

            <div class="card">
                <p>
                    .
                    .
                    .
                    .
                    .
                    done
                    .
                    .
                    .
                    .
                    .
                </p>
            </div>
        </div>

    </body>
</html>