{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<html>
    <head>
        <title>internship tracker</title>
        <!--<link rel="stylesheet" href="{% static 'css/home.css' %}">-->
    </head>
    <body>
        <div class="header">
            <h1>InTerNshIp tRacKeR</h1>
            <p>You are screwed...</p>
        </div>
        <div class="nav">
            <a href="#">Home</a>
            <a href="#">About</a>
        </div>
        <div class="row">
            <div class="columnleft">
                <div class="card">
                    <h1>TITLE HEADING</h1>
                    <h5>published date: 03/06/2018</h5>
                    <p>text box.. end to input cards</p>
                </div>
            </div>

            <div class="columnright">
                <div class="cardss">
                    <h1>TO DO LIST</h1>
                    <h5>published date: 02/06/2019</h5>
                    
                </div>
            </div>
            <div class="columnright">
                <div class="cardss">
                    <h1>DOING</h1>
                    <h5></h5>
                </div>
                
            </div>

            <div class="columnright">
                <div class="cardss">
                    <h1>DONE</h1>
                </div>
            </div>
        </div>

    </body>
</html>